[
{ sesm, [
  { service, [
	{ sasl, [
		{ name, "sasl" },
		{ type, native }
	]},
	{ postgresql, [
		{ name, "postmaster"  },
		{ alias, "postgresql" },
		{ type, external },
		{ port, 2001 }
	  ] },
	{ mysql, [
		{ name, "postmaster"  },
		{ alias, "postgresql" },
		{ type, external },
		{ port, 2002 }
	 ] },
	{ apache, [
		{ name, "httpd"},
		{ alias, "apache2"},
		{ type, external },
		{ port, 2003}	
	  ] }
  ] }
] }
].
