[
{ sesm, [
  { quorum, [
  	{ sesm_service, [
  		'nodeaa@slimjim.bredbandsbolaget.se',
  		'nodeaa@slimjack.bredbandsbolaget.se',
  		'nodeaa@slimjane.bredbandsbolaget.se',
  		'nodeaa@slimjen.bredbandsbolaget.se'
  	]}
  ]},
  { service, [
	{ sasl, [
		{ name, "sasl" },
		{ type, native },
		{ ignore, true }
	]},
	{ postgresql, [
		{ name, "postmaster"  },
		{ alias, "postgresql" },
		{ type, external },
		{ port, 2001 },
		{ ignore, true }
	  ] },
	{ mysql, [
		{ name, "mysqld_safe"  },
		{ alias, "mysqld_safe" },
		{ type, external },
		{ port, 2002 }
	 ] },
	{ apache, [
		{ name, "apache2"},
		{ alias, "apache2"},
		{ type, external },
		{ port, 2003}	
	  ] }
  ] }
] }
].
