[
{ sesm, [
  { service, [
	{ postgresql, [
		{ name, "postmaster"  },
		{ alias, "postgresql" },
		{ port, 2001 }
	  ] },
	{ mysql, [
		{ name, "postmaster"  },
		{ alias, "postgresql" },
		{ port, 2002 }
	 ] },
	{ apache, [
		{name, "httpd"},
		{alias, "apache2"},
		{port, 2003}	
	  ] }
  ] }
] }
].